[submodule "identity"]
	path = identity
	url = https://github.com/night-tasker/identity
[submodule "common"]
	path = common
	url = https://github.com/night-tasker/common
[submodule "user-hub"]
	path = user-hub
	url = https://github.com/night-tasker/user-hub
[submodule "api-gateways"]
	path = api-gateways
	url = https://github.com/night-tasker/api-gateways
